<%= render 'shared/errors_html', obj: @teacher %>

<div class="col-md-6 border rounded shadow-md p-3 mx-auto">
    <h1>Edit your profile</h1>
    <%= form_for(@teacher, :html => { role: "form" }) do |f| %>
        <div class="mb-3">
            <%= f.label :first_name, class:"form-label" %>
            <%= f.text_field :first_name, class:"form-control" %>
        </div>

        <div class="mb-3">
            <%= f.label :last_name, class:"form-label" %>
            <%= f.text_field :last_name, class:"form-control" %>
        </div>

        <div class="mb-3">
            <%= f.label :email, class:"form-label" %>
            <%= f.email_field :email, class:"form-control" %>
        </div>
            

        <div class="mb-3">
            <%= f.label :password, class:"form-label" %>
            <%= f.password_field :password, class:"form-control" %>
        </div>

        <div class="mb-3">
            <%= f.label :password_confirmation, class:"form-label" %>
            <%= f.password_field :password_confirmation, class:"form-control" %>
        </div>

        <%= f.submit "Update Teacher", class: "btn btn-primary btn-lg" %>
    <% end %>
</div>